.sun-icon {
  font-size: 120px;
  text-align: center;
  margin-left: 40px;
}

.weather-card {
  max-width: 800px;
  margin: 36px auto;
}

.searchbar,
.current-weather {
  margin-bottom: 24px;
}

.h1-temp {
  text-align: center;
}

.h2-weather {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 20px;
}

.wind-rain-hum {
  vertical-align: middle;
}

.icon-next-day {
  font-size: 36px;
  text-align: center;
}

.text-next-day {
  text-align: center;
  margin-bottom: 0;
}
