.weather-card {
  max-width: 700px;
  margin: 36px auto 0px;
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 6px;
}

.page-content {
  max-width: 700px;
  margin: 0 auto;
}

.weather-icon {
  font-size: 120px;
  text-align: center;
  margin-left: 0px;
}

.searchbar,
.current-weather {
  margin-bottom: 24px;
}

.h1-temp {
  font-size: 40px;
  display: inline-block;
}

.h2-weather {
  display: inline-block;
  text-align: center;
  margin-bottom: 14px;
  font-weight: 300;
  font-size: 20px;
}

.wind-rain-hum {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.forecast-icon {
  font-size: 36px;
  text-align: center;
}

.text-next-day {
  text-align: center;
  margin-bottom: 0;
}

.credits {
  font-size: 12px;
  padding-top: 20px;
  color: gray;
}

.wind-rain-hum-block {
  display: block;
  margin: auto 0;
}

.temp-weather-block {
  width: max-content;
  text-align: center;
  max-width: 100px;
}

.forecast-temp-min {
  color: gray;
  font-size: 14px;
}
.forecast-temp-max {
  font-size: 14px;
}

.week-day {
  text-transform: uppercase;
  font-size: 12px;
}
